### Clean and Import Dataset: Avg House Price 2020


have to fix 0, as added 0 instead of nans

In [196]:
import pandas as pd
import numpy as np

In [197]:
df = pd.read_csv('nyc_housing_prices_jul_2020.csv')
df.head()

    borough            neigborhood  studio 1_bedroom 2_bedroom 3_bedroom
0  manhatan                Chelsea  $2,794    $4,062    $6,997   $11,031
1  manhatan           East Village  $2,608    $3,280    $4,044    $5,289
2  manhatan  Flatiron/Union Square  $3,632    $4,645    $8,267   $15,969
3  manhatan          Gramercy Park  $2,569    $3,656    $5,413    $7,226
4  manhatan      Greenwich Village  $2,828    $4,116    $8,000   $12,418

In [198]:
borough = df['borough'].tolist()
borough = [word.replace('manhatan', 'Manhattan') for word in borough]
borough = [word.replace('brooklyn', 'Brooklyn') for word in borough]

In [199]:
studio = df['studio'].tolist()
studio = [word.replace('-', '0') for word in studio]
studio = [word.replace('$', '') for word in studio]
studio = [word.replace(',', '') for word in studio]
studio = [int(s) for s in studio]

In [200]:
bed1 = df['1_bedroom'].tolist()
bed1 = [word.replace('$', '') for word in bed1]
bed1 = [word.replace(',', '') for word in bed1]
bed1 = [int(s) for s in bed1]

In [201]:
bed2 = df['2_bedroom'].tolist()
bed2 = [word.replace('$', '') for word in bed2]
bed2 = [word.replace(',', '') for word in bed2]
bed2 = [int(s) for s in bed2]

In [202]:
bed3 = df['3_bedroom'].tolist()
bed3 = [word.replace('-', '0') for word in bed3]
bed3 = [word.replace('$', '') for word in bed3]
bed3 = [word.replace(',', '') for word in bed3]
bed3 = [int(s) for s in bed3]

In [203]:
house_2020 = pd.DataFrame({'borough': borough, 
                            'neighbourhood': df['neigborhood'],
                            'studio': studio,
                            '1_bed': bed1,
                            '2_bed': bed2,
                            '3_bed': bed3})

house_2020.head()

     borough          neighbourhood  studio  1_bed  2_bed  3_bed
0  Manhattan                Chelsea    2794   4062   6997  11031
1  Manhattan           East Village    2608   3280   4044   5289
2  Manhattan  Flatiron/Union Square    3632   4645   8267  15969
3  Manhattan          Gramercy Park    2569   3656   5413   7226
4  Manhattan      Greenwich Village    2828   4116   8000  12418

In [204]:
house_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   borough        55 non-null     object
 1   neighbourhood  55 non-null     object
 2   studio         55 non-null     int64
 3   1_bed          55 non-null     int64
 4   2_bed          55 non-null     int64
 5   3_bed          55 non-null     int64
dtypes: int64(4), object(2)
memory usage: 2.7+ KB

In [205]:
house_2020.isnull().sum()

borough          0
neighbourhood    0
studio           0
1_bed            0
2_bed            0
3_bed            0
dtype: int64

In [206]:
house_2020.describe()

            studio        1_bed         2_bed         3_bed
count    55.000000    55.000000     55.000000     55.000000
mean   2476.654545  3226.072727   4960.600000   7635.854545
std     711.552716   904.262803   2167.655156   4891.542813
min       0.000000  1866.000000   2273.000000      0.000000
25%    2096.000000  2535.500000   3345.000000   4052.500000
50%    2400.000000  3257.000000   4411.000000   6122.000000
75%    2711.000000  3668.000000   6075.500000  10650.500000
max    5121.000000  6117.000000  12173.000000  26970.000000

In [207]:
house_2020[house_2020.duplicated()]

Empty DataFrame
Columns: [borough, neighbourhood, studio, 1_bed, 2_bed, 3_bed]
Index: []

### Clean and Import Dataset: Avg House Price 2021

In [208]:
house_2021 = pd.read_csv('nyc_housing_prices_feb_2021.csv')
house_2021.head()

,neighborhood,studio,Unnamed: 2,neighborhood.1,1_bedroom,Unnamed: 5,neighborhood.2,2_bedroom,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Upper West Side,"$1,975",NaN,Upper West Side,"$2,750",NaN,Upper West Side,"$4,350",NaN,NaN,NaN
1,Bedford-Stuyvesant,"$1,650",NaN,Bedford-Stuyvesant,"$1,975",NaN,Bedford-Stuyvesant,"$2,200",NaN,NaN,NaN
2,Bushwick,"$1,731",NaN,Bushwick,"$2,150",NaN,Bushwick,"$2,100",NaN,NaN,NaN
3,Upper East Side,"$1,898",NaN,Upper East Side,"$2,395",NaN,Upper East Side,"$3,295",NaN,NaN,NaN
4,Williamsburg,"$2,491",NaN,Williamsburg,"$2,500",NaN,Williamsburg,"$2,584",NaN,NaN,NaN

In [209]:
house_2021 = house_2021.drop(columns=['neighborhood', 'neighborhood.1', 'Unnamed: 2','Unnamed: 5', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'])
house_2021 = house_2021[['neighborhood.2', 'studio', '1_bedroom', '2_bedroom']]

In [210]:
house_2021.columns = ['neighborhood', 'studio', '1_bed', '2_bed']
house_2021.head()

         neighborhood  studio   1_bed   2_bed
0     Upper West Side  $1,975  $2,750  $4,350
1  Bedford-Stuyvesant  $1,650  $1,975  $2,200
2            Bushwick  $1,731  $2,150  $2,100
3     Upper East Side  $1,898  $2,395  $3,295
4        Williamsburg  $2,491  $2,500  $2,584

In [211]:
house_2021 = house_2021.fillna('-')

In [221]:
studio = house_2021['studio'].tolist()
studio = [word.replace('-', '0') for word in studio]
studio = [word.replace('$', '') for word in studio]
studio = [word.replace(',', '') for word in studio]
studio = [int(s) for s in studio]

In [214]:
bed1 = house_2021['1_bed'].tolist()
bed1 = [word.replace('-', '0') for word in bed1]
bed1 = [word.replace('$', '') for word in bed1]
bed1 = [word.replace(',', '') for word in bed1]
bed1 = [int(s) for s in bed1]

In [223]:
bed2 = house_2021['2_bed'].tolist()
bed2 = [word.replace('-', '0') for word in bed2]
bed2 = [word.replace('$', '') for word in bed2]
bed2 = [word.replace(',', '') for word in bed2]
bed2 = [int(s) for s in bed2]

[4350,
 2200,
 2100,
 3295,
 2584,
 2200,
 3900,
 2200,
 4600,
 4959,
 2117,
 3650,
 3300,
 2150,
 2400,
 2667,
 2933,
 4678,
 2000,
 2300,
 2700,
 4995,
 2163,
 4057,
 2300,
 3646,
 4850,
 2550,
 7150,
 2109,
 1995,
 2236,
 2850,
 2950,
 5625,
 2300,
 1950,
 3630,
 3195,
 2100,
 2150,
 2700,
 2173,
 4500,
 2200,
 2300,
 9295,
 1900,
 3000,
 3850,
 2000,
 4431,
 1950,
 2160,
 2100,
 2750,
 2200,
 1838,
 2050,
 1950,
 4000,
 3500,
 2125,
 3000,
 2200,
 1795,
 2100,
 2000,
 2100,
 1980,
 2000,
 2000,
 2100,
 2600,
 2000,
 2300,
 2148,
 2295,
 1900,
 1993,
 3203,
 2888,
 1925,
 1800,
 1900,
 2000,
 1888,
 2175,
 2123,
 2050,
 1825,
 3450,
 2350,
 3200,
 2000,
 1950,
 2100,
 2100,
 2150,
 2800,
 1873,
 1800,
 2400,
 2195,
 1950,
 2100,
 2298,
 2000,
 2000,
 7248,
 2700,
 2200,
 1950,
 1750,
 2200,
 2952,
 5895,
 2000,
 2000,
 1900,
 3850,
 2100,
 2250,
 1800,
 3690,
 4100,
 3325,
 2200,
 2350,
 1889,
 1895,
 1800,
 2645,
 2198,
 2350,
 1750,
 2100,
 2000,
 2050,
 1825,
 2000,
 1800,
 2000,
 1900,
 3275,
 1800,
 1800,
 2300,
 1775,
 2200,
 1500,
 2100,
 2100,
 2100,
 1900,
 1500,
 2050,
 4478,
 2400,
 2000,
 1850,
 2100,
 1900,
 1850,
 1800,
 1800,
 1950,
 1725,
 2250,
 2250,
 2150,
 4500,
 2300,
 1725,
 1800,
 1950,
 2100,
 1879,
 1700,
 4650,
 1995,
 1856,
 1550,
 2095,
 2300,
 2600,
 1825,
 2300,
 1850,
 1475,
 1900,
 1700,
 1575,
 1750,
 2929,
 5595,
 1852,
 2300,
 1450,
 2000,
 1983,
 1400,
 5345,
 1800,
 1377]

In [225]:
house_2021_clean = pd.DataFrame({'neighbourhood': house_2021['neighborhood'],
                                'studio': studio,
                                '1_bed': bed1,
                                '2_bed': bed2,
                                })

house_2021_clean.head()

        neighbourhood  studio  1_bed  2_bed
0     Upper West Side    1975   2750   4350
1  Bedford-Stuyvesant    1650   1975   2200
2            Bushwick    1731   2150   2100
3     Upper East Side    1898   2395   3295
4        Williamsburg    2491   2500   2584

In [226]:
house_2021_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   neighbourhood  205 non-null    object
 1   studio         205 non-null    int64
 2   1_bed          205 non-null    int64
 3   2_bed          205 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.5+ KB

In [227]:
house_2021_clean.isnull().sum()

neighbourhood    0
studio           0
1_bed            0
2_bed            0
dtype: int64

In [228]:
house_2021_clean[house_2021_clean.duplicated()]

Empty DataFrame
Columns: [neighbourhood, studio, 1_bed, 2_bed]
Index: []

In [229]:
house_2021_clean.describe()

            studio        1_bed        2_bed
count   205.000000   205.000000   205.000000
mean   1349.541463  1892.214634  2522.102439
std    1122.605445   782.331134  1104.520526
min       0.000000     0.000000  1377.000000
25%       0.000000  1600.000000  1950.000000
50%    1575.000000  1725.000000  2109.000000
75%    2038.000000  2196.000000  2645.000000
max    5900.000000  5483.000000  9295.000000

### Clean and Import Dataset: Avg House Price 2021 Zip Codes

In [218]:
house_2021_zip = pd.read_csv('nyc_housing_prices_feb_2021_zip.csv')
house_2021_zip

,borough,neighborhood,zip_codes
0,Bronx,Central Bronx,"10453, 10457, 10460"
1,Bronx,Bronx Park and Fordham,"10458, 10467, 10468"
2,Bronx,High Bridge and Morrisania,"10451, 10452, 10456"
3,Bronx,Hunts Point and Mott Haven,"10454, 10455, 10459, 10474"
4,Bronx,Kingsbridge and Riverdale,"10463, 10471"
5,Bronx,Northeast Bronx,"10466, 10469, 10470, 10475"
6,Bronx,Southeast Bronx,"10461, 10462,10464, 10465, 10472, 10473"
7,Brooklyn,Central Brooklyn,"11212, 11213, 11216, 11233, 11238"
8,Brooklyn,Southwest Brooklyn,"11209, 11214, 11228"
9,Brooklyn,Borough Park,"11204, 11218, 11219, 11230"
10,Brooklyn,Canarsie and Flatlands,"11234, 11236, 11239"
11,Brooklyn,Southern Brooklyn,"11223, 11224, 11229, 11235"
12,Brooklyn,Northwest Brooklyn,"11201, 11205, 11215, 11217, 11231"
13,Brooklyn,Flatbush,"11203, 11210, 11225, 11226"
14,Brooklyn,East New York and New Lots,"11207, 11208"
15,Brooklyn,Greenpoint,"11211, 11222"
16,Brooklyn,Sunset Park,"11220, 11232"
17,Brooklyn,Bushwick and Williamsburg,"11206, 11221, 11237"
18,Manhattan,Central Harlem,"10026, 10027, 10030, 10037, 10039"
19,Manhattan,Chelsea and Clinton,"10001, 10011, 10018, 10019, 10020, 10036"
20,Manhattan,East Harlem,"10029, 10035"
21,Manhattan,Gramercy Park and Murray Hill,"10010, 10016, 10017, 10022"
22,Manhattan,Greenwich Village and Soho,"10012, 10013, 10014"
23,Manhattan,Lower Manhattan,"10004, 10005, 10006, 10007, 10038, 10280"
24,Manhattan,Lower East Side,"10002, 10003, 10009"
25,Manhattan,Upper East Side,"10021, 10028, 10044, 10065, 10075, 10128"
26,Manhattan,Upper West Side,"10023, 10024, 10025"
27,Manhattan,Inwood and Washington Heights,"10031, 10032, 10033, 10034, 10040"
28,Queens,Northeast Queens,"11361, 11362, 11363, 11364"
29,Queens,North Queens,"11354, 11355, 11356, 11357, 11358, 11359, 11360"
30,Queens,Central Queens,"11365, 11366, 11367"
31,Queens,Jamaica,"11412, 11423, 11432, 11433, 11434, 11435, 11436"
32,Queens,Northwest Queens,"11101, 11102, 11103, 11104, 11105, 11106"
33,Queens,West Central Queens,"11374, 11375, 11379, 11385"
34,Queens,Rockaways,"11691, 11692, 11693, 11694, 11695, 11697"
35,Queens,Southeast Queens,"11004, 11005, 11411, 11413, 11422, 11426, 1142..."
36,Queens,Southwest Queens,"11414, 11415, 11416, 11417, 11418, 11419, 1142..."
37,Queens,West Queens,"11368, 11369, 11370, 11372, 11373, 11377, 11378"
38,Staten Island,Port Richmond,"10302, 10303, 10310"
39,Staten Island,South Shore,"10306, 10307, 10308, 10309, 10312"
40,Staten Island,Stapleton and St. George,"10301, 10304, 10305"
41,Staten Island,Mid-Island,10314